.login-panel-footer {
	font-size: 0.8em;
	color: #808080;
	text-align: center;
}

.login-page-footer {
	font-size: 0.9em;
	text-align: center;
	position: relative;
	margin-top: 100px;
	height: 100px;
	clear: both;
}

.login-page-footer>hr {
	margin-top: 8px;
	margin-bottom: 8px;
}