.login-panel-footer {
	font-size: 0.9em;
	color: #808080;
	text-align: center;
}

.login-page-footer {
	line-height: 0.6;
	font-size: 0.9em;
	text-align: center;
}

.login-page-footer>hr {
	margin-top: 8px;
	margin-bottom: 8px;
}

.loris-logo {
	margin-bottom: 10px;
}

.investigators {
	max-height: 350px;
}