.login-panel-footer {
	font-size: 0.9em;
	color: #808080;
	text-align: center;
}

.login-page-footer {
	line-height: 0.6;
	font-size: 0.9em;
	text-align: center;
}

.login-page-footer>hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
.loris-logo {
	margin-bottom: 10px;
}
.loris-logo-img {
	display: block;
	margin: 0 auto;
}

.investigators {
	max-height: 150px;
}


.form-box input[type="text"],
.form-box input[type="password"]
{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box input[type="submit"]{
    margin-top:15px;
    padding: 10px 20px;
}
ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
ul.horizontal-slide li {
    display: inline-block;
    float: none;
    padding-right: 20px;
}
ul.horizontal-slide li img {
    -webkit-filter: grayscale(50%);
       -moz-filter: grayscale(50%);
         -o-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
            filter: grayscale(50%); 
}
ul.horizontal-slide li img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}